/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px; /* Default font size */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EAF4FF;
    color: #000;
    position: relative;
    height: 100vh;
    width: 100%;
    max-height: 67.5rem; /* Converted from 1080px */
    overflow: hidden;
}

:root {
    --primary-color: #007AFF;
    --secondary-color: #1D2026;
    --sds-size-depth-0: 0px;
    --sds-size-depth-025: 0.25px;
    --sds-size-depth-100: 1px;
    --sds-color-black-100: rgba(0, 0, 0, 0.1);
}

.frame-badge-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
    /* Converted from 20px */
    width: max-content;
    height: 1.75rem;
    /* Converted from 28px */
    border-radius: 12.5rem;
    /* Converted from 200px */
    padding: 0.25rem 0.5rem 0.3125rem 0.5rem;
    /* Converted from 4px 8px 5px 8px */
    gap: 0.0625rem;
    /* Converted from 1px */
    opacity: 1;
    margin: auto;
    background: #FFFFFF;
    box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-025) var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-100);
}

.frame {
    width: auto;
    height: 3.125rem;
    /* Converted from 50px */
}

.custom-frame {
    width: 2rem;
    /* Converted from 32px */
    height: 1.0625rem;
    /* Converted from 17px */
    background-color: var(--primary-color);
    border-radius: 116.4375px;
    /* Converted from 185.79px */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0.1875rem;
    /* Converted from 3px */
    padding-right: 0.1875rem;
    /* Converted from 3px */
}

.ellipsis {
    width: 0.207361rem;
    /* Converted from 3.31776px */
    height: 0.207361rem;
    /* Converted from 3.31776px */
    background-color: #FFFFFF;
    border-radius: 50%;
}

.vertical-line {
    width: 0px;
    height: 1.125rem;
    /* Converted from 18px */
    border-width: 0.03125rem;
    /* Converted from 0.5px */
    border-style: solid;
    border-color: #6C788F;
    opacity: 1;
}

.frame-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.frame-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}